.navbar-nav.justify-content-center {
    width: 100%;
}

.page-footer-container a {
    color: white !important;
}

.empty-basket {
    width: 100%;
    text-align: center;
    margin: 50px 0px;
}

.checkout-header {
    cursor: pointer;
    background-color: var(--background-3);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.menu-fixed {

    left: -10px;
}

.menu-logo{
    width: 25%;
}

/* ----------------- admin Product page Start -------------------*/

.Admin-Header {
    text-transform: uppercase;
    font-weight: 700;
}

.update-btn {
    margin-top: 20px;
}

.add-size-btn, .add-img-btn {
    width: 100%;
    height: 100%;
}

.img-upload-btn {
    position: relative;
    cursor: pointer !important;
}

.size-column {
    width: 30%;
}

.img-column {
    width: 7rem;
    height: 7rem;
    border: 2px solid var(--background-2);
    overflow: hidden;
    margin-right: 5px;
    position: relative;
}

    .img-column img {
        overflow: hidden;
        object-fit: cover;
        width: 100%;
        min-height: 100% !important;
    }


.delete-img-btn {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
}

    .delete-img-btn i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 110;
        font-size: var(--text-size-reg);
        display: none;
    }

.img-upload-btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 110;
    font-size: var(--text-size-reg);
}

.image-upload {
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer !important;
}

.img-column.contains:hover i {
    display: block;
}

.img-column.contains:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: var(--background-2);
    opacity: 0.7;
    z-index: 100;
    text-align: center;
    justify-content: center;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}


.bootstrap-tagsinput {
    background-color: var(--background-1);
    border-color: var(--background-2);
    line-height: 32px;
    box-shadow: inset 0 0px 0px rgb(0 0 0 / 8%);
    width: 100%;
}


    .bootstrap-tagsinput .tag {
        color: var(--text-1);
        text-transform: capitalize;
        background-color: var(--background-2);
        padding: 5px 5px;
    }

.tags-selection-cont {
    margin: 10px 0px;
    height: 100px;
    overflow-y: scroll;
}

    .tags-selection-cont input {
        text-transform: capitalize;
        background-color: var(--background-1);
        padding: 0;
        margin: 0;
    }

.bootstrap-tagsinput .tag [data-role="remove"]:after {
    font-weight: bold;
}



.twitter-typeahead, .tt-menu {
    width: 100%;
    background-color: white;
    padding-left: 5px;
}

/*
.size-rows {
    display: table-row-group !important;
}*/


.size-rows .col-2 {
    padding-left: 0;
}

.size-table-cont {
    width: 100%;
    overflow-x: auto;
}

#admin-page-layout .card, #admin-page-layout .card-cont {
    height: 100%;
}

.card img {
    /*max-height: 240px;*/
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    min-height: 100% !important;
}

.size-input {
    max-width: 100%;
    text-align: center;
}

.size-table {
    text-align: center;
}

    .size-table input {
        padding: 5px;
        border: 1px solid #ced4da;
        width: 100%;
    }

    .size-table select option {
        text-align: center;
    }

.margin-5-px {
    margin-bottom: 5px;
}

.admin-item-list {
    position: relative;
    display: block;
    margin-bottom: 15px;
}

.data-spacing {
    padding: 20px 0;
}


/* ----------------- admin Product page End -------------------*/
/* ----------------- admin order create Start -------------------*/


.add-product-btn {
    margin-bottom: 10px;
}

/* ------------------ Admin Order page Start ----------------*/
.fa-1-5x {
    font-size: 1.5em;
}

[id*="status-input-"] {
    margin-bottom: 20px;
}

#send-message-btn {
    margin-bottom: 20px;
}

.panel-tabs .panel-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.panel-link {
    display: block;
    padding: .5rem 1rem;
}

.tab-pane {
    padding: 20px;
}

.panel-tabs {
    border-bottom: 1px solid #dee2e6;
}

.panel {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.panel-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.admin-close-view {
    text-align: right;
}

table tbody tr th {
    font-weight: 500;
}

.order-date {
    margin-bottom: 20px;
}

.modal textarea {
    width: 100%;
    border: 1px solid rgb(0 0 0 / 4%);
}

.table-total {
    text-align: right;
}

#data-header {
    padding: .75rem 1.25rem;
}

.admin-list [class*="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
}


.admin-list {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    margin-bottom: 15px;
}

.menu-stats {
    text-align: center;
    margin-top: 20px;
}

.menu-toggle {
    margin-bottom: 10px;
}

.menu-close {
    text-align: right;
    padding: 10px 30px 10px 0;
}

.admin-pages {
    padding: 2%;
}

#admin-page {
    transition: all .5s;
}

/* Write page CSS here*/
#admin-page-layout {
    min-height: 100vh;
}

#admin-menu {
    background-color: var(--background-3);
    overflow: hidden;
    padding-right: 0px;
    min-height: 100%;
    transition: all .5s;

}

.menu-stats {
    height: 100px;
}

.admin-menu-item {
    position: relative;
    padding: 5px 20px;
    margin: 0;
}

    .admin-menu-item:hover::before, .admin-drop-menu:hover::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--background-4);
        top: 0;
        left: 0;
        opacity: 0.2;
    }

.menu-icons {
    text-align: right;
    padding: 10px 15px;
}

.menu-header {
    /*padding-top:10px;*/
    display: flex;
    align-items: center;
}

    .menu-header h6 {
        margin: 0;
        padding: 0;
    }

.admin-drop-hidden {
    display: none;
}


.admin-drop-menu:hover .admin-drop-hidden {
    display: block !important;
}

.admin-drop-menu {
    position: relative;
}
/* --------------- site wide START ----------------- */
.main {
    width: 80vw;
    margin: 0 10vw;
    height: 50vh;
    overflow: hidden;
}

.status {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    overflow-x: hidden !important;
}

/* 
 * Setting the site variables, example of how to use
 * color:var(--text-1);
 *
 */

:root {
    --background-1: #ffffff;
    --background-2: #E3E3E3;
    --background-3: #A3CCC8;
    --background-4: #000000;
    --background-3-hover: #96b9b6;
    --text-1: #000000;
    --text-2: #ffffff;
    --text-size-reg: calc(20px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));
    --text-size-sml: calc(10px + (10 - 8) * ((100vw - 300px) / (1600 - 300)));
    --text-size-large: calc(35px + (35 - 20) * ((100vw - 300px) / (1600 - 300)));
    --text-size-xlarge: calc(60px + (60 - 20) * ((100vw - 300px) / (1600 - 300)));
    --primary: #A3CCC8;
}

a, a:hover {
    color: #000000 !important;
    text-decoration: none;
}

.nav-link, .navbar-brand {
    font-weight: bold;
    color: black !important;
}

.page-name {
    width: 100vw;
    overflow: hidden;
}

.verticle-align {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.verticle-align-left {
    display: flex;
    align-items: center;
}

.no-style {
    padding: 0;
    margin: 0;
}

#action-buttons .btn {
    margin-top: 5px;
}


.btn-ouioui-primary{
    background-color: var(--background-3);
    border-color: var(--background-3);
}

.btn-ouioui-primary:hover {
    background-color: var(--background-3-hover);
    border-color: var(--background-3-hover);
}

/* -------------- FOR PRODUCT DETAIL PAGE --------------- */
    .smaller-image {
    padding: 10px;
    transition: 1s;
}

    .smaller-image:hover {
        padding: 7px;
        transition: 1s;
    }

#product-info-container {
    padding-bottom: 20px;
}

#product-page {
    color: var(--text-1);
}

#Product-description {
    /*padding-top: 10vh;*/
}

    #Product-description h2 {
        font-size: var(--text-size-reg);
        font-weight: bold;
    }

    #Product-description a {
        text-decoration: none;
        color: var(--text-1);
    }

#product-desc {
    font-size: var(--text-size-sml);
}

.color-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

    .color-checkbox .checkmark {
        width: 100%;
        height: 100%;
        border: 2px solid #222;
        display: inline-block;
        border-radius: 2px;
    }

#green {
    background: #a1c995;
}

#blue {
    background: #95bbc9;
}

.color-checkbox input:checked + #green {
    background: #a1c995 url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/1200px-White_check.svg.png) center/70% no-repeat;
}

.color-checkbox input:checked + #blue {
    background: #95bbc9 url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/1200px-White_check.svg.png) center/70% no-repeat;
}

[type*='checkbox'] {
    display: none;
}

#other-products h6 {
    padding-top: 20px;
    margin-left: -6px;
}

:root {
    --bootstrap-border: #ced4da;
}


.quantity-input-group {
    width: 150px;
}

    .quantity-input-group input {
        text-align: center;
    }

    .quantity-input-group .btn {
        border: 1px solid var(--bootstrap-border);
    }

        .quantity-input-group .btn:hover {
            background-color: var(--background-3);
            color: var(--text-2);
        }

.btn:focus {
    outline: none;
    box-shadow: none;
}

/* ---------------- END OF PRODUCT DETAIL ------------------ */



/* ------------------ SHOP PAGE ------------------ */
#filter-menu {
    padding: 10px 0;
}

.feature-tag {
    position: absolute;
    top: 20px;
    right: 15px;
    padding: 5px;
    color: white;
    border-radius: 10px 0px 0px 10px;
    padding-left: 10px;
}

    .feature-tag p {
        margin: 0;
        line-height: normal;
        font-weight: bold;
    }

    .feature-tag.feature {
        background-color: var(--background-3);
    }

    .feature-tag.new {
        background-color: black;
    }

    .feature-tag.sale {
        background-color: #dc0000;
    }

.stock-0{
    position:relative;
    z-index:5;
}


    .stock-0::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: calc(100% - 30px);
        height: calc(100% - 48px);
        background-color: rgba(0,0,0,0.5);
        z-index: 10;
        margin-right: 15px;
        margin-left: 15px;
    }

    .stock-0::after {
        content: 'OUT OF STOCK';
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 30px);
        height: calc(100% - 48px);
        /* transform: translate(-50%,-50%); */
        color: white;
        z-index: 15;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: pre-wrap;
        font-size: var(--text-size-reg);
        margin-right: 15px;
        margin-left: 15px;
        padding:10px;
    }

/* Write page CSS here*/
li {
    text-decoration: none;
    list-style: none;
}

.dropdown {
    width: 150px;
    color: #9fa3b1;
    position: relative;
    cursor: pointer;
}

    .dropdown .def_op {
        text-transform: uppercase;
        padding: 13px 15px;
        font-size: 14px;
    }

    .dropdown ul {
        position: absolute;
        top: 70px;
        left: -10px;
        background: #fff;
        width: 150px;
        border-radius: 5px;
        padding: 20px;
        display: none;
        z-index: 12;
        box-shadow: 8px 8px 6px -10px black;
    }

        .dropdown ul.active {
            display: block;
        }

        .dropdown ul li {
            padding-bottom: 20px;
        }

            .dropdown ul li:last-child {
                padding-bottom: 0;
            }

            .dropdown ul li:hover {
                color: #6f768d;
            }

    .dropdown:before {
        content: "";
        position: absolute;
        top: 18px;
        right: 20px;
        border: 8px solid;
        border-color: black transparent transparent transparent;
    }

.product-container {
    cursor: pointer;
}

#Shop-text {
    text-align: center;
    padding-top: 15vh;
}

#shop-picture {
    width: 100%;
}

#product-container {
    padding: 10px;
}

#pagination {
    display: flex;
    align-item: center;
}


/* END OF SHOP PAGE*/

/* START OF LOGIN */

#main-header-panel-create-account {
    padding-left: 6%;
    padding-right: 6%;
}

#main-header-panel-create-account-reset-password {
    padding-left: 6%;
    padding-right: 6%;
}

.forgotten:hover {
    cursor: pointer;
}

.margin-left-5px {
    margin-left: 5px;
}

#login-panel {
    padding-left: 6%;
}

    #login-panel [class*="row"] {
        padding-bottom: 20px;
    }

    #login-panel h1 {
        font-size: var(--text-size-large);
    }



.btn-ouioui {
    transition: 0.3s;
    background-color: var(--text-1);
    color: var(--text-2);
    border-radius: 10px;
    padding: 2px 20px 2px 20px;
    font-size: var(--text-size-reg);
    font-weight: bold;
    border: 2px solid var(--text-1);
}

    .btn-ouioui:hover {
        background-color: var(--text-2);
        color: var(--text-1);
    }

.btn-ouioui-secondary {
    transition: 0.3s;
    background-color: var(--text-2);
    color: var(--text-1);
    border-radius: 10px;
    padding: 2px 20px 2px 20px;
    font-size: var(--text-size-reg);
    font-weight: bold;
    border: 2px solid var(--text-1);
}

    .btn-ouioui-secondary:hover {
        background-color: var(--text-1);
        color: var(--text-2);
    }


#social-btn {
    transition: 1s;
    background-color: white;
    color: black;
    padding: 10px;
    border: 1px solid grey;
}

    #social-btn:hover {
        transition: 1s;
        background-color: black;
        color: white;
    }

#login-form {
    text-align: left;
}

/* END OF LOGIN */

/* START OF CHECKOUT PAGE */
#promo-container {
    background: white;
    border: 0px;
}

#Promo-button {
    background: white;
}




.cardd {
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    height: 280px;
    perspective: 500px;
}

    .cardd .face {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        background: rgba(255,255,255, 0.05);
        backdrop-filter: blur(10px);
        transform: translateY(0deg);
        transform-style: preserve-3d;
        backface-visibility: hidden;
        box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
        transition: 1s;
    }

        .cardd .face.front {
            background: url("https://image.freepik.com/free-vector/blurred-background-design_1107-219.jpg");
        }

        .cardd .face.back {
            background: url("https://image.freepik.com/free-vector/blurred-background-design_1107-219.jpg");
        }

    .cardd:hover .face.front {
        transform: rotateY(-180deg);
    }

    .cardd .face.back {
        transform: rotateY(180deg);
    }

    .cardd:hover > .face.back {
        transform: rotateY(0deg);
    }


    .cardd .face.front::before {
        content: '';
        position: absolute;
        bottom: 40px;
        right: 40px;
        width: 60px;
        height: 60px;
        background: #fff;
        border-radius: 50%;
        opacity: 0.5;
    }

    .cardd .face.front::after {
        content: '';
        position: absolute;
        bottom: 40px;
        right: 80px;
        width: 60px;
        height: 60px;
        background: #fff;
        border-radius: 50%;
        opacity: 0.7;
    }

    .cardd .face.front .debit {
        position: absolute;
        left: 40px;
        top: 30px;
        color: #fff;
        font-weight: 500;
    }

    .cardd .face.front .bank {
        position: absolute;
        right: 40px;
        top: 25px;
        color: #fff;
        font-weight: 500;
        font-style: italic;
    }

    .cardd .face.front .chip {
        position: absolute;
        top: 80px;
        left: 50px;
        max-width: 65px;
    }

    .cardd .face.front .cardd-number {
        position: absolute;
        bottom: 110px;
        left: 40px;
        color: #fff;
        font-weight: 500;
        letter-spacing: 6px;
        font-size: 18px;
        text-shadow: 0 2px 1px #0005;
    }

    .cardd .face.front .valid {
        position: absolute;
        bottom: 70px;
        left: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-weight: 300;
        line-height: 1em;
        text-align: right;
        font-size: 15px;
    }

        .cardd .face.front .valid span:last-child {
            margin-left: 20px;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 2px;
        }

    .cardd .face.front .cardd-holder {
        position: absolute;
        bottom: 30px;
        left: 40px;
        color: #fff;
        font-weight: 300;
        letter-spacing: 2px;
        font-size: 14px;
    }

    .cardd .face.back .black-bar {
        position: absolute;
        width: 100%;
        height: 60px;
        background: black;
        top: 40px;
    }

    .cardd .face.back .ccvaddon {
        position: absolute;
        top: 120px;
        left: 30px;
    }

        .cardd .face.back .ccvaddon p {
            color: white;
            font-weight: 400;
            font-size: 10px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .cardd .face.back .ccvaddon .white-bar {
            position: relative;
            width: 102%;
            height: 40px;
            background: white;
            margin-top: 5px;
        }

        .cardd .face.back .ccvaddon .ccv {
            position: relative;
            top: -35px;
            left: 100%;
            width: 50px;
            height: 30px;
            background: #ccc;
            color: #111;
            font-weight: 600;
            letter-spacing: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    .cardd .face.back .random-text {
        position: absolute;
        bottom: 30px;
        left: 30px;
        right: 30px;
        color: white;
        font-size: 8px;
        line-height: 1.4em;
        font-weight: 300;
    }


.btn-order-page {
    transition: 0.3s;
    background-color: var(--text-2);
    color: var(--text-1);
    border-radius: 5px;
    padding: 2px 20px 2px 20px;
    font-size: var(--text-size-small);
    border: 1px solid var(--text-1);
}

    .btn-order-page:hover {
        background-color: var(--text-1);
        color: var(--text-2);
    }

.spacing_top {
    padding-top: 10px;
}

.card_date {
    display: flex;
    justify-content: space-evenly;
}

p {
    margin-bottom: 1px;
}

.order_details {
    /*border: 1px solid grey;*/
    border-radius: 10px;
}

.delivery_container {
    /*border: 1px solid var(--text-1);*/
    padding: 10px;
    border-radius: 10px;
}


.covid-cont {
    border-radius: 5px;
    background-color: white;
    border: 1px solid var(--text-1);
    width: 100%;
    z-index: 20;
    bottom: 0;
    padding: 10px;
    position: fixed;
}

/* END OF CHECKOUT PAGE */

/* ------------------ site wide END ----------------- */

/* ----- RESPONSIVE OPTIONS MUST STAY AT BOTTOM ----- */

/* SM size and above unless over ridden in bigger sizes */
@media (min-width: 576px) { /* sm size */

}

/* MD size and above unless over ridden in bigger sizes */
@media (min-width: 768px) {
    .menu-icons {
        text-align: center;
        padding: 10px 0;
    }

    .admin-list [class*="col-"] {
        padding-top: 0;
        padding-bottom: 0;
    }

    .menu-fixed {
        position: fixed;
        left: -10px;
    }

    .menu-logo{
        width: 60%;
    }

}

/* LG size and above unless over ridden in bigger sizes */
@media (min-width: 992px) {
    .size-column {
        width: 16%;
    }
}

/* XL size and above */
@media (min-width: 1200px) {
}

/* ----------------- Admin Settings Page Start------------- */

.settings-accordion .card-header {
    background-color: var(--background-3);
}
    .settings-accordion .card-header:hover {
        background-color: var(--background-3-hover);
    }

    .settings-accordion .card-header .btn-link {
        color: var(--background-4);
        font-weight: bold;
    }

    .settings-accordion .btn-link:hover, .settings-accordion .btn-link.focus {
        text-decoration: none !important;
    }

*:focus {
    outline: none;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.category-select {
    display: flex;
    flex-direction: column;
    height: 200px;
    overflow-y: scroll;
    border-radius: .25rem .25rem 0 0;
    border-bottom: 0px;
}

.admin-tags .bootstrap-tagsinput {
    height: calc(1.5em + .75rem + 2px + 200px);
    /*height:200px;*/
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    /*padding-bottom:20px;*/
    border: 1px solid #ced4da;
    padding: 4px 0px;
}

    .admin-tags .bootstrap-tagsinput .tag {
        margin-left: 10px;
        margin-right: 0;
    }

    .admin-tags .bootstrap-tagsinput .twitter-typeahead {
        position: -webkit-sticky;
        position: sticky !important;
        bottom: -4px;
        left: -6px;
        right: -6px;
        background-color: #ffffff;
        border-top: 1px solid #ced4da;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        height: calc(1.5em + .75rem + 2px);
        width: calc(100% + 12px);
        padding: 2px 6px;
    }

#admin-settings-page .twitter-typeahead pre, #admin-settings-page .twitter-typeahead .tt-menu, #admin-settings-page .twitter-typeahead .tt-hint {
    display: none !important;
    height: 0px;
    visibility: hidden;
}

.tt-hint {
    display: none !important;
    height: 0px;
    visibility: hidden;
}

.category-line, .category-line label {
    width: 100%;
}

    .category-line label, button.category-line {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

        .category-line label p, button.category-line p {
            margin: 0;
            padding: 5px;
        }

.category-select .category-line i {
    padding: 5px;
    line-height: unset;
    display: none;
}

.add-category-i {
    padding: 5px;
    line-height: unset;
}

.category-line.checked {
    background-color: var(--background-3);
}

    .category-line.checked i {
        display: flex;
    }

.category-select input[type="checkbox"] {
    display: none;
}

.add-cat-btn {
    border: 1px solid #ced4da;
    border-top: 0px;
    border-radius: 0 0 .25rem .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-category {
    border-radius: 0;
}


/* ----------------- Admin Settings Page END ------------- */

/* ----------------- Admin Message Page Start ------------- */

.replies-section {
    background-color: var(--background-2);
    padding: 15px !important;
    border-radius: 5px;
}




/* ----------------- Admin Message Page END ------------- */

/* ----------------- Admin create promo Page Start ------------- */
.create-btn-cont {
    padding-top: 20px;
}
/* ----------------- Admin create promo Page END ------------- */

/* ----------------- Start Of Home Page ------------- */

.nav-link, .navbar-brand {
    font-weight: bold;
    color: black !important;
}

.main-header .title {
    font-size: var(--text-size-xlarge) !important;
    font-weight: bold;
    /*margin-bottom:10%;*/
}

.main-header p {
    font-size: var(--text-size-reg) !important;
    margin-bottom: 25%;
}

.social-icons {
    width: 8rem;
}

#main-header-panel [class*="row"] {
    padding-bottom: 20px;
}

#main-header-panel {
    margin-top: 10%;
    padding-left: 6%;
    padding-right: 6%;
}

.page-2, .page-4 {
    background-color: #a3ccc8;
}


.page-2, .page-4 {
    width: 100%;
    margin-top: 50px;
    clip-path: polygon(0 90px, 100% 0%, 100% calc(100% - 90px), 0 100%);
}

.page-footer, .page-6 {
    width: 100%;
    margin-top: 50px;
    clip-path: polygon(0 90px, 100% 0%, 100% 100%, 0 100%);
}

.page-2, .page-4 {
    padding: calc(3% + 90px) 0 calc(3% + 90px) 0;
}

.page-footer {
    padding: calc(3% + 90px) 0 3% 0;
}
/*
.page-2-container .card {
    height: 100%;
}*/


.page-2-container .card h2 {
    font-weight: bold;
    text-align: center;
}


.section-header {
    font-weight: bold;
    text-align: center;
    font-size: var(--text-size-xlarge);
}

.main-buttons {
    text-align: center;
    margin-top: 5%;
    font-size: (--text-size-large);
}

.page-6 {
    background-image: url('https://github.com/nateainsworth/Group-24/blob/master/Group-24/wwwroot/images/shop-picture.png?raw=true');
    height: 100vh;
    margin-bottom: -140px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.subscribe-row form {
    width: 100%;
}



.page-footer {
    background-color: #000000;
}

.page-footer-container {
    color: #ffffff;
    padding-left: 6%;
    padding-right: 6%;
}



/* XL size and above */
@media (min-width: 1200px) {
    .subscribe-row {
        margin-top: -60px;
    }
}

.header-img {
    margin-top: -100px;
    width: 100%;
    right: 0;
}

.mobile-header-img {
    margin-top: -40px;
    width: 100%;
    right: 0;
}

.page-2-container {
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
    margin-right: auto;
    margin-left: auto;
}


/* SM size and above unless over ridden in bigger sizes */
@media (min-width: 576px) {
    .page-2-container {
        padding-right: 15%;
        padding-left: 15%;
    }
}

/* LG size and above unless over ridden in bigger sizes */
@media (min-width: 992px) {
    .page-2-container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}

#carousel {
    margin: 5% 0;
}

.page-4 {
    min-height: calc(100vh + 10%);
}

.card-author {
    font-weight: bold;
}


.card-img-header {
    width: 100%;
}

.card-img-overlay {
    display: flex;
    align-items: flex-end;
    padding: 0;
}


.insta-card-title::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.2);
    background-color: rgba(255,255,255,0.3);
    /*-webkit-filter: blur(10px);*/
    z-index: 10;
}

.insta-card-title {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: .75rem;
    margin: 0;
    z-index: 15;
    color: black;
}


.review-body {
    height: 30vh;
    overflow-y: auto;
    margin-bottom: 10px;
    padding-bottom: 0px;
}

    .review-body .card-body-txt {
        display: flex;
        align-items: center;
        margin: 0 !important;
        height: 100%;
        width: 100%;
        flex-wrap: wrap;
    }

.card-author {
    align-self: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
}

.card-body-txt .card-title {
    align-self: start;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}

.page-5-container .card-deck {
    margin: 5% 0;
}


/* ----------------- END Of Home Page ------------- */


/* ----------------- Start Dashboard  ------------- */


.dash-stat-center {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.dash-stat-center-left {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}

div[class*=dash-stat-center] p, div[class*=dash-stat-center] h6 {
    width: 100%;
}

.chart-height {
    height: 400px;
}

.full-height {
    height: 100%;
}

.stat-row-margin{
    margin:0px;
    margin-bottom:10px;
}

.split-stat-rows {
    height: calc((380px)/3);
}

#device-chart {
    height: unset !important;
    width: 60% !important;
}

.device-chart-cont {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#admin-dash {
    margin: 0px;
}

.stats-label {
    text-align: center;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

    .stats-label p {
        margin: 0;
    }

.chart-svg {
    position: relative;
    max-width: 90px;
    min-width: 40px;
    flex: 1;
}

svg:not(:root) {
    overflow: hidden;
}

.circular-chart.color-red .circle {
    stroke: #ff002a;
}

.circular-chart.color-amber .circle {
    stroke: #ffc90b;
}

.circular-chart.color-green .circle {
    stroke: #11df47;
}

.Montserrat {
    font-family: 'Montserrat';
    font-weight: 600;
}

.circle-bg {
    stroke: #ddefed;
    fill: none;
    stroke-width: 1.2;
}

.circle {
    fill: none;
    stroke-width: 1.6;
    stroke-linecap: round;
    -webkit-animation: progress 1s ease-out forwards;
    animation: progress 1s ease-out forwards;
    /*stroke-dasharray: 60 60 100;*/
}

.percentage {
    fill: #000000;
    font-size: 0.5em;
    text-anchor: middle;
    font-weight: 400;
}

.no-margin {
    margin: 0 !important;
    margin-bottom: 1.5rem !important;
}

/* ----------------- end Dashboard  ------------- */

/* ----------------- Start Basket  ------------- */


#basket-page .card {
    border-width: 0;
}

.remove-item {
    position: absolute;
    top: 7px;
    right: 7px;
    font-size: var(--text-size-reg);
}

.card-total {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

    .card-total p {
        margin: 0;
    }

.page-title {
    font-weight: bold;
    font-size: var(--text-size-large);
}

#basket-page, #shop-page, #checkout-page {
    margin-top: 3%;
}



/* Write page CSS here*/

#order-summary-text {
    padding-top: 15px;
}

.order-summary {
    width: 100%;
    background: #ffffff;
}

::-webkit-scrollbar {
    width: 0px;
    border-radius: 1px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 1px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #137f79;
    }



/* Checkout Success */

.message-box {
    display: flex;
    justify-content: center;
    padding-top: 15vh;
    padding-bottom: 20vh;
}

.success-container {
    background: white;
    height: 480px;
    width: 90%;
    text-align: center;
}

.confirm-green-box {
    width: 100%;
    height: 140px;
    background: #d7f5da;
}


.monserrat-font {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}

/* Checkout Success  end*/
#chatbox {
    width: 350px;
    height: 450px;
    background-color: white;
    border: none;
    border-radius: 10px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    overflow: hidden;
    color: white;
    z-index: 100;
}

#chatbox-header {
    width: 100%;
    height: 35px;
    background-color: black;
}

.message {
    border-radius: 25px;
    width: calc(50% + 1px);
    margin: 10px 15px;
}

.message-sent {
    background-color: #a3ccc8;
    float: right;
    color: white;
}

.message-recieved {
    background-color: #f8f9fa;
    color: black;
    float: left;
}

.message-input {
    border-radius: 20px;
    width: calc(100% - 20px);
    margin: 0 10px;
    position: absolute;
    bottom: 10px;
    background-color: #f8f9fa;
    height: 30px;
    overflow: hidden;
}
/* ------------------------ chat button start ------------------------------*/

.communication-button::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-bottom: 100%;
    background-color: rgba(0,0,0,0.7);
    border-radius: 100%;
    z-index: 10;
}

.hover-comm {
    position: absolute;
    background-color: green;
    z-index: 20;
    top: 0px;
    right: 50%;
    display: none;
    border-radius: 30px 0 0 30px;
    height: 100%;
    width: 180px;
    padding-right: 50%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
}

    .hover-comm p {
        padding: 0;
        margin: 0;
    }

.communication-button {
    position: fixed;
    top: calc(100vh - 50px - 30px);
    left: calc(100vw - 50px - 30px);
    padding-bottom: 50px;
    border-radius: 100%;
    width: 50px;
    z-index: 20;
    color: white;
}

    .communication-button i {
        position: absolute;
        font-size: var(--text-size-reg);
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 30;
    }


    .communication-button:hover {
        background-color: rgba(0,0,0,1);
    }

        .communication-button:hover .hover-comm {
            display: flex;
        }


.chat-container {
    width: 99vw;
    height: 90vh;
    position: fixed;
    top: 0px;
    left: 0px;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    z-index: 6900;
    position: fixed;
    max-width: 400px;
    width: 100%;
    left: calc(50% - 200px);
    top: 100px;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.5s;
}

.success {
    padding: 20px;
    background-color: #00ff72;
    color: #181a1e;
    z-index: 6899;
    position: fixed;
    max-width: 400px;
    width: 100%;
    left: calc(50% - 200px);
    top: 100px;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.5s;
}

.acknowledge {
    padding: 10px 20px;
    background-color: var(--background-3);
    color: var(--text);
    z-index: 6898;
    position: fixed;
    max-width: 300px;
    width: 100%;
    left: calc(50% - 150px);
    top: 100px;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.5s;
}

    .acknowledge.fade {
        opacity: 1;
    }

.success.fade {
    opacity: 1;
}

.alert.fade {
    opacity: 1;
}

/* ------------------------ chat button end ------------------------------*/

/* ------------------------ admin settings panel start ------------------------------*/
.colorpicker-input-addon {
    width: 50px;
}

    .colorpicker-input-addon i {
        width: 100%;
        height: 100%;
    }


#nav-home p, #nav-home label {
    margin-bottom: .5rem;
}

#nav-home h5 {
    font-weight: bold;
}



.img-demo {
    height: 300px !important;
    width: 100%;
}

/* ------------------------ admin settings panel end ------------------------------*/

.stat-container {
    align-items: center;
    justify-content: center;
    display: flex;
}

.stat-card{
    height:100%;

}

/* ------------------------------- user settings start ---------------------------- */

.user-settings-text {
    background: var(--background-3-hover);
    padding: 8px;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px 10px 0px 0px;
}


    .user-settings-text:hover {
        background: var(--background-3);
        padding: 8px;
        text-align: center;
        border: 2px solid white;
    }

    .user-settings-text.active {
        background: var(--background-3);
        padding: 8px;
        text-align: center;
        border: 2px solid white;
    }

    .margin-0{
        margin:0;
    }

.no-border{
    border:0 !important;
}


.user-settings-accord {
    max-height: 70vh;
    overflow: scroll;
}
/* ------------------------------- user settings end ---------------------------- */