@page
@model Group_Project.Models.IndexModel

<div class="container" style="max-width:92%;">
    <h1 style="font-size: 50pt; margin:60px 0px;">Hello Georgia,</h1>
    <div class="index-profile">
        <div class="row">
            <div class="col-5" style="margin-top:100px;">
                <center>
                    <img src="~/Images/selfie.png" style="width:150px; height:150px;
                    border-radius:50%;" />
                </center>
            </div>
            <div class="col-7" style="margin-top:100px;">
                <h1 style="font-size:40pt;">Georgia Hall</h1>
                <p>Studying Accounting at Sheffield Hallam</p>
            </div>
        </div>
        <div class="row" style="margin-top:50px;">
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
                <p>#Sheffield</p>
            </div>
            <div class="col">
                <p>#Sister</p>
            </div>
            <div class="col">
                <p>#Student</p>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
        </div>
    </div>

    <h1 style="margin-top:90px;  margin-bottom:40px;">People you may know</h1>
    <div class="row" style="margin:20px 0px;">

        @for (int i = 0; i < 5; i++)
        {
            String path = "/Images/selfie" + i + ".png";
            <div class="col">
                <center>
                    <img src="@path" class="glow-unseen" style="width:120px; height:120px;
                    border-radius:50%;" />
                </center>
            </div>
        }
    </div>

    <h1 style="margin-top:90px; margin-bottom:40px;">Messages</h1>

    @for (int i = 0; i < 5; i++)
    {
        String path = "/Images/selfie" + i + ".png";
        <div class="index-messagepanel">
            <div class="row">
                <div class="col-4" style="margin-top:65px;">
                    <center>
                        <img src="@path" class="glow-unseen" style="width:120px; height:120px;
                            border-radius:50%;" />
                    </center>
                </div>
                <div class="col-7" style="margin-top:45px;">
                    <p>
                        wad awd efs f gfdthg gdsgf sef s gdg dfgsd sef rgdfhfgh fgz sdfsdggdfg zdg dsfgd
                        dz fgd fgzdfg sef dfgdr gzdr
                    </p>
                </div>
            </div>
        </div>
    }


</div>
