@page
@model Group_Project.Models.MessageModel

    <style>
    </style>

    <body>
        <div class="top-navbar">
            <div class="row" style="background-color: var(--background); height:100px;">
                <div class="col-1">
                    <i class="fas fa-caret-left fa-5x icon-back" onclick="window.location.href = '/';"></i>
                </div>
                <div class="col-10">
                    <center><h1>Henry Crow</h1></center>
                </div>
                <div class="col-1" style="padding:0px;">
                    <i class="fas fa-sliders-h fa-3x icon-settings"></i>
                </div>
            </div>
        </div>

        <div class="container" style="max-width:92%;">

            <div id="messages">
                <div class="row">
                    <div class="col-5">
                    </div>
                    <div class="col-7">
                        <div class="test"><p class="message-time message-time-sent">Today 19:03</p></div>
                        <div class="message-sent">
                            <p>
                                <b>sfsef sefaw sgd gdftghfthdft hsrg dgfghdf gadsffgdrtsdrg dfg rfwef sfdgsfdghsa drgsdfvxfvbzadrfg dsrgd rgdcxf bzdr g</b>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-7">
                        <p class="message-time">Today 20:21</p>
                        <div class="message-received">
                            <p>
                                <b>bzdr g</b>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">
                    </div>
                    <div class="col-7">
                        <div class="test"><p class="message-time message-time-sent">Today 19:03</p></div>
                        <div class="message-sent">
                            <p>
                                <b>sfsef sefaw sgd gdftghfthdft hsrg dgfghdf gadsffgdrtsdrg dfg rfwef sfdgsfdghsa drgsdfvxfvbzadrfg dsrgd rgdcxf bzdr g</b>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">
                    </div>
                    <div class="col-7">
                        <div class="test"><p class="message-time message-time-sent">Yesterday 19:03</p></div>
                        <div class="message-sent">
                            <p>
                                <b>sfsef sefaw sgd gdftghfthdft hsrg dgfghdf gadsffgdrtsdrg dfg rfwef sfdgsfdghsa drgsdfvxfvbzadrfg dsrgd rgdcxf bzdr g</b>
                            </p>
                        </div>
                    </div>
                </div>

            </div>


        </div>

        <div class="messagebar">
            <div class="row">
                <div class="col-1">
                    <div class="panel-gifs">
                        <i class="fas fa-chevron-up fa-3x panel-gif" style="color:var(--accent);"></i>
                    </div>
                </div>
                <div class="col-11">
                    <center><input class="panel-input" /></center>
                </div>
            </div>
        </div>
    </body>